body {
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: orangered;
}

button {
    display:inline-block;
    padding: 12px 24px;
    background-color: orangered;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0022e0;
}